*{
    font-family: 'Comforter', cursive;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.signin{
    display: inline-block;
    position: relative;
    color: white;
}
.signin:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  
}
.signin:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.signin:hover{
    cursor: pointer;
}

.line{
    display: inline-block;
    position: relative;
}
.line:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2385C4;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  
}
.line:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.line:hover{
    cursor: pointer;
}